* {
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body {
    background-color: #04050F;
}

h1 {
    font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
    line-height: 60px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    color: white;
    line-height: 29px;
}

h3 {
    font-size: 18px;
    color: lightgrey;
    line-height: 23px;
    display: inline-block;
}

h3 .select {
    color: #136EBF;
}

h4 {
    color: darkgrey;
}

p {
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #7B7573;
    line-height: 24px;
    font-weight: 400;
}

strong {
    font-size: 16px;
    color: #7B7573;
    line-height: 24px;
}

a {
    font-size: 14px;
    color: #0093B9;
    line-height: 17px;
}

label {
    color: lightgrey;
    padding-top: 5px;
}

.padding-top {
    padding-top: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-none {
    padding: 0;
}

.btn {
    background-color: transparent;
    padding: 15px;
    margin: 0;
    border-color: darkgrey;
    border-width: 2px;
    color: darkgrey;
}

.btn:hover {
    border-color: darkgrey;
}

.btn.delete {
    border-color: #aaaaaa;
    color: #aaaaaa;
}

.btn.delete:hover {
    border-color: #aaaaaa;
    color: red;
}

.top-menu {
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-menu p {
    margin-bottom: 0;
    line-height: 16px;
}

.top-menu a {
    margin-bottom: 0;
    line-height: 16px;
    font-size: 16px;
    color: #7B7573;
    font-weight: 400;
}

.banner.main {
    height: 150px;
    background: url("/static/top-banner.jpg") no-repeat right;
    background-size: cover;
}

.banner h1 {
    margin: 45px 0;
}

.category-list {
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 20px;
}

.category-list:hover h3 {
    color: dimgrey;
}

.creator {
    padding-right: 20px;
    margin-top: -20px;
    text-align: right;
    float: right;
}

.creator img {
    width: 45px;
    border-radius: 50%;
}

.creator figcaption {
    font-size: 14px;
    color: #7B7573;
    font-weight: 400;
    margin-top: -20px;
}

.flash {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

span.glyphicon {
    margin: auto;
}

.btn-group {
    margin-right: -10px;
    padding: 0;
    display: flex;
    float: right;
}

.cat-right {
    color: grey;
    padding-right: 0;
}

.add-btn {
    padding: 5px 0;
    display: flex;
}

.item-header {
    margin-top: -20px;
}
