<div class="row top-menu">
    <div class="col-xs-10"></div>
    <div class="col-xs-2 text-right">
        {% if session.user_id %}
            <a href="{{ url_for('disconnect') }}">Welcome {{ session.username }}! Click Here to Log Out</a>
        {% else %}
            <a href="{{ url_for('showLogin') }}">Click Here to Log In</a>
        {% endif %}
    </div>
</div>
<div class="row banner main">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 padding-none">
        <h1>Talon's Item Catalog</h1>
    </div>
</div>

