<div class="col-md-4" style="height: 100%">
    <div class="row">
        <div class="col-md-10">
            <h2><a href="{{ url_for('showCatalog') }}">Categories</a></h2>
        </div>
        <div class="col-md-2 text-right">
            {% if session.user_id %}
                <a href="{{ url_for('newCategory') }}"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>
    </div>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ url_for('showCategory', category_name=category.name) }}">
                            <h3>{{ category.name }}</h3>
                        </a>
                        {% if category.user_id == session.user_id %}
                            <div class="text-right">
                                <a href="{{ url_for('editCategory', category_name=category.name) }}">
                                    <button class="btn btn-default edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </a>
                                <a href="{{ url_for('deleteCategory', category_name=category.name) }}">
                                    <button class="btn btn-danger delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
