<div class="row">
    <div class="col-xs-10" style="padding: 5px;">
        <h2>Delete Category: {{ category.name }}?</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-11 padding-top text-center">
        <form action="#" method="post">
            <div class="form-group">
                <h3>Are you sure you wish to delete {{ category.name }}? Any items to the right will be lost!</h3>
                <div class="padding-bottom"></div>
                <button class="btn btn-default delete" id="submit" type="submit">
                    <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                    Delete Category
                </button>
                <a href="{{ url_for('showCategory', category_x=category.name) }}">
                    <button class="btn btn-default delete" type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </a>

            </div>
        </form>
    </div>
</div>
