<div class="row">
    <div class="col-xs-10" style="padding: 5px;">
        <h2>Add New Item to {{ category.name }}:</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 padding-top">
        <form action="#" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" maxlength="100" name="name" required type="text">
                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" name="description" rows="10"></textarea>
                <div class="padding-bottom"></div>
                <button class="btn btn-default" id="submit">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                    Add Item
                </button>
                <a href="{{ url_for('showCategory', category_x=category.name) }}">
                    <button class="btn btn-default delete" type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>
