<div class="col-md-8" style="height: 100%">
    <div class="row">
        <div class="col-md-10">
            {% if category %}
                <h2>{{ category.name }}</h2>
            {% else %}
                <h2>Recently Added Items</h2>
            {% endif %}
        </div>
    </div>
    <ul class="list-group">
        {% for item in items %}
            <a href="{{ url_for('goToShowItem', category_x=item.category.name, item_x=item.name) }}">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 category-list">
                        <h3>{{ item.name }}, {{ item.user_id }}, {{ session.user_id }}, {{ item.category.name }}</h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </a>
            {% if session.user_id %}
                <div class="text-right">
                    <a href="{{ url_for('goToEditItem', category_x=item.category.name, item_x=item.id) }}">
                        <button class="btn btn-default edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ url_for('goToDeleteItem', category_x=item.category.name, item_x=item.id) }}">
                        <button class="btn btn-danger delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <button>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
